<%= form_for @project, url: url do |f| %>
  <div>
      <%= f.label :name, class: '' %>
      <div class="form">
          <%= f.text_field :name, class: '' %>
      </div>
  </div>

  <div>
      <%= f.label :description, class: '' %>
      <div class="form">
          <div>
              <%= f.text_area :description, rows: 10 %>
          </div>
      </div>
  </div>

  <div>
      <%= label_tag :cat, 'Категория' %>
      <div class="form">
          <div>
              <%= text_field_tag :cat, @category.name, disabled: true %>
          </div>
      </div>
  </div>

  <fieldset>
      <legend>Изображение</legend>
        <div>
            <% if f.object.picture.url != '/images/original/missing.png' %>
              <%= image_tag f.object.picture.url(:thumb) %>
              <label style="float: right">Изменить изображение: <%= f.file_field :picture %></label>
            <% else %>
              <%= f.file_field :picture %>
            <% end %>
        </div>

  </fieldset>


  <br>
  <div class="col col-sm-10 col-sm-offset-2">
      <%= f.submit 'Сохранить', class: 'button small' %> или <%= link_to 'Отмена', categories_path, class: 'button small secondary' %>
  </div>
<% end %>